body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 300px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: blue;
}

#save-btn {
    background: green;
}

#thisapp {
    max-width: 500px;
    background-color: grey;
    padding-top: 10px;
    text-align: center;
    margin: auto;
       
}
